/* [SeoulNamsan] */
@font-face {
    font-family: 'SeoulNamsan';
    src: url('cid:SeoulNamsanM') format('truetype');
}

/* [Tag] */
body {
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    font-family: SeoulNamsan;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
}

hr{
    width: 100%;
}

/* [Class] */
.main_btn{
    width: 200px;
    height: 30px;
    background-color: #277cea;
    color: #eee;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    cursor: pointer;
}

/* [Id] */
#sample_img{
    width: 50%;
    height: auto;
}

/* [Name] */