<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/resource_global/font.css}" rel="stylesheet"/>
    <link th:href="@{/resource_c1_n1/home_page.css}"
          rel="stylesheet"/>
    <style th:inline="css">
        /* inline css Thymeleaf 변수 사용 예시 */
        /* body {
            background-color: [(${viewModel.env} == 'local8080' ? '#277cea' : '#FFFFFF')];
        } */
    </style>

    <title>
        Springboot MVC Template
    </title>
</head>
<body>
<!-- 본문 작성 -->

<div>
    <img id="title_icon" th:src="@{/resource_c1_n1/title_icon.png}" alt="타이틀 아이콘 이미지" th:onclick="location.href='/'"/>
    <h1 id="title_txt">
        Home
    </h1>
</div>

<hr/>

<h2>
    시스템 정보
</h2>

<span>
    구동 환경 프로필 : <span th:text="${viewModel.env}">dev</span>
</span>

<h2 th:if="${viewModel.env != 'prod80'}">
    Swagger 문서
</h2>

<button id="go_to_swagger_btn" type="button" class="sample_btn" th:if="${viewModel.env != 'prod80'}"
        th:onclick="location.href='/webjars/swagger-ui/index.html'">
    Swagger
</button>

<!-- Script 선언 -->
<script th:src="@{/resource_c1_n1/home_page.js}"></script>
<script th:inline="javascript">
    // inline javascript Thymeleaf 변수 사용 예시
    // var env = [[${viewModel.env}]];
    // alert(env);
</script>
</body>
</html>